body{
    background: url('../img/4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
	align: center;
	margin-left:auto; 
	margin-right:auto;
}

table, th, td{
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: center;
}

#topnav {
    margin: auto;
    padding: 0;
    background-color: transparent;
}

#message {
    margin: auto;
    background-color: red;
    color: white;
}

div {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

ul {
    overflow: hidden;
    background-color: inherit;
    opacity: 0.9;
    background-color: white;
}

li {
    float: right;
}

li a{
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: #dddeff
}

li a:visited{
    text-decoration: none;
}

form{
    display: block;
}

input{
    width: 100%;
    border: 2px;
    border-color: inherit;
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
    text-align: center;
    box-sizing: border-box;
}

input:focus{
    width: 100%;
    border: 3px solid #555;
    background: lightblue;
}

.logreg {
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    opacity: 0.7;
    text-align: center;
}

.logreg > * {
    float: none; 
}

button{
    width: 120px;
    height: 20px;
}
