body{
    background: url('../img/4.jpg') no-repeat center center fixed;
    opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

table, th, td{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: center;
}

div #topnav{
    margin-left: auto;
    margin-right: auto;
}

ul {
    overflow: hidden;
    background-color: inherit;
    opacity: 0.9;
    background-color: white;
}

li {
    float: right;
}

li a{
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: #dddeff
}

li a:visited{
    text-decoration: none;
}

form{
    display: block;
}

input{
    width: 100%;
    border: 2px;
    border-color: inherit;
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
    text-align: center;
    box-sizing: border-box;
}

input:focus{
    width: 100%;
    border: 3px solid #555;
    background: lightblue;
}

.logreg{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: inherit;
    text-align: center;
}

button{
    width: 120px;
    height: 20px;
}
