% setdefault('messages', None)
% setdefault('user', None)
% include('top.html', messages=messages, user=user)
<div>
	<table>
		<thead>
			<tr>
				<th>Make an appointment</th>
				<th>Medicare No.</th>
				<th>Given Name</th>
				<th>Family Name</th>
				<th>Date of Birth</th>
			</tr>
		</thead>
		<tbody>
		% for u in userlist:
		<tr>
			<td>
				<form method="POST" action="/make_appointment?u={{user['username']}}&target={{u['username']}}">
					<input type="Date" name="date" required style="width: 40%">
					<input type="Time" name="time" required style="width: 40%">
					<input type="text" name="info" placeholder="info" style="width: 70%">
					<button type="submit">submit</button>
				</form>
			</td>
			<td>{{u['medicare_id']}}</td>
			<td>{{u['given_name']}}</td>
			<td>{{u['family_name']}}</td>
			<td>{{u['dob']}}</td>
		</tr>
		% end
		</tbody>
	</table>
</div>
% include('bottom.html')
