% setdefault('messages', None)
% setdefault('user', None)
% include('top.html', messages=messages, user=user)
<div class="logreg">
	<form method="POST" action="/signup_general">
		<fieldset>
			<legend>Sign up as a general user<br><em>
			If you are a medical professional, click <a href="./signup_professional">here</a></legend>
			<input type="text" name="given_name" placeholder="First Name" required>
			<input type="text" name="family_name" placeholder="Last Name" required>
			<input type="date" name="dob" placeholder="Date of Birth" required>
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="checkbox" name="terms" required>By clicking Create Account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy.<br>
			<button type="submit">Submit</button>
		</fieldset>
	</form>
</div>
% include('bottom.html')
