% setdefault('messages', None)
% setdefault('user', None)
% include('top.html', messages=messages, user=user)
<div class="logreg">
	<form method="POST" action="/signup_professional">
		<fieldset>
			<legend>Sign up as a Medical Professional</legend>
			<input type="text" name="fname" placeholder="First Name" required>
			<input type="text" name="lname" placeholder="Last Name" required>
			<input type="date" name="dob" placeholder="Date of Birth" required>
			<input type="text" name="user" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="checkbox" name="terms">By clicking Create Account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy.<br>
			<button type="submit">Submit</button>
		</fieldset>
	</form>
</div>
% include('bottom.html')
